div {border-radius: 6px;}

body {background-color: lightgrey;}

/* 最大一层的容器 */
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 0 0 0;
    /*height: 1000px;*/
    /*background-color: lightgrey;*/
}
/* layui布局列 */
.colpadding {padding: 5px 5px 0px 5px;}
/* layui布局列 边框 */
.colborder {border: 1px solid #b5fff8;}

/* 面板边框 */
.panelBroder {border: 1px solid black;}
/* 面板正式使用间隔 */
.panelDivMargin{margin-bottom: 5px;}

/* 面板统一背景布局 */
.panelDivbg {
    margin-bottom: 5px;
    width: 100%;
    /*height: 400px;*/
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

/* 上层警告区 */
.panelDivbgWarring {
    border: 1px solid black;
    font-size: 25px;
}

/* 公会面板样式 */
/* 公会等级 */
.guildPanelLevel {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 20%;
    /*height: 400px;*/
    border: 1px solid black;
    font-size: 18px;
}
/* 公会增益左边（个人增益） */
.guildPanelLeft {float: left;}
/* 公会增益右边（公共增益） */
.guildPanelRight {float: right;}
.guildPanelLeft, .guildPanelRight {width: 49%;height: 86%;}
.guildPanelLeft .guildPanelLeftTitle, .guildPanelRight .guildPanelRightTitle{width: 100%;height: 8%; text-align: center;}
.guildPanelLeftInner::-webkit-scrollbar, .guildPanelRightInner::-webkit-scrollbar{
    display: none; /* Chrome Safari */
}
.guildPanelLeftInner, .guildPanelRightInner {
    width: 100%;
    height: 91%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;

    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}
/* 公会增益共用样式 */
.guildPanelDetail{margin-top: 5px; height: 40px; width: 100%; display: flex;align-items: center; border: 1px solid black;}
.guildPanelDetail label{float: left;width: 40%; text-align: center;}
.guildPanelDetail .guildPersonSilder{float: left;width: 48%;}
.guildPanelDetail .guildPersonSPSilder{float: left;width: 48%;}
.guildPanelDetail .guildCommonSilder{float: left;width: 48%;}
.guildPanelDetail .guildSilderTip{float: right; text-align: right; width: 10%;}